@tailwind base;
@tailwind components;
@tailwind utilities;

:is(body, .scrollbar) {
  overflow: auto;
}

:is(body, .scrollbar)::-webkit-scrollbar {
  @apply h-2 w-2;
}

:is(body, .scrollbar)::-webkit-scrollbar-track {
  @apply cursor-default bg-color2;
}

:is(body, .scrollbar)::-webkit-scrollbar-thumb {
  @apply cursor-default rounded-2xl bg-color4 shadow-inner shadow-color4;
}

input[type='text'],
input[type='number'] {
  @apply border border-solid border-color4 px-2 py-1 outline-none invalid:border-color-invalid focus:shadow;
}

input[type='number'] {
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

label {
  @apply p-2;
}
