@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightcyan;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.score__fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.score__legend {
  font-weight: 500;
}

.score__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__input {
  width: 5em;
  margin-left: 0.5em;
  border: 1px solid #000;
  outline: none;
}
.score__input:invalid {
  border: 1px solid #f00;
}

.score__result,
.score__appealable {
  font-weight: 500;
  text-align: center;
}
